@import "../../global.scss";

.Toastify__toast--success {
  background-color: green;
}
.contact{
  background-color: white;
  display: flex;

  @include mobile{
    flex-direction: column;
  }

  .left{
    flex: 1;
    overflow: hidden;

    img{
      height: 100%;

      @include mobile{
        width: 100%;
        height: 60%;
      }
    }
  }
  .right{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile{
      margin-top: -100px;
    }

    h2{
      font-size: 30px;
    }
    form{
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      

      input{
        width: 300px;
        height: 30px;
        font-size: 14px;


        @include mobile{
          width: 200px;
          height: 5px;
          margin-top: -2px;
        }
      }
      textarea{
        width: 300px;
        height: 200px;
        font-size: 14px;

        @include mobile{
          width: 200px;
          height: 5px;
        }
      }

      button{
        @include mobile{
          width: 150px;
          height: 20px;
        }
      }
    }
  }
}